header {
    background-image: linear-gradient(120deg, #222222, #171717);
    margin: -10px;
    margin-bottom: 1rem;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 3.5rem;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 3rem 3rem
  }